<div class="p-4 sm:ml-64">
    <div class="text-center animate-fade-down">
        <p class="font-bold text-4xl text-white">Interested in the application?</p>
    </div>

    <div class="p-5 animate-fade-right animate-delay-500">
        <p class="text-2xl text-white">Why was this app developed?</p>
        <p class="text-white text-base font-bold">HOY <span class="text-red-500">FREDERICK SANCHEZ ANICAS</span> BAKIT MO KASI NILAGYAN NG PIN YUNG GINAWA MONG GANITO!!!!!!!!!!!11111!!111</p>
    </div>

    <p class="text-base text-white p-5 animate-flip-up animate-delay-[700ms]">See the technologies the app used.</p>

    <div class="px-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <a class="animate-flip-up animate-delay-[900ms] flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-48 md:h-auto md:w-32 md:rounded-none md:rounded-s-lg" src="mongodb.png" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">MongoDB</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A NoSQL document database that stores data in JSON-like format. It’s designed for scalability and flexibility, allowing developers to handle structured and unstructured data efficiently.</p>
            </div>
        </a>
        
        <a class="animate-flip-up animate-delay-[1100ms] flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-48 md:h-auto md:w-32 md:rounded-none md:rounded-s-lg" src="expressjs.png" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Express.js</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A minimal and flexible Node.js web application framework that provides a robust set of features for building web and mobile applications. It simplifies routing and middleware management, making it easier to develop server-side applications.</p>
            </div>
        </a>

        <a class="animate-flip-up animate-delay-[1300ms] flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-48 md:h-auto md:w-32 md:rounded-none md:rounded-s-lg" src="angular.png" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Angular</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A platform and framework for building single-page client applications using HTML and TypeScript. Developed by Google, Angular provides a powerful structure for dynamic web apps, featuring two-way data binding, dependency injection, and modular architecture.</p>
            </div>
        </a>

        <a class="animate-flip-up animate-delay-[1500ms] flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-48 md:h-auto md:w-32 md:rounded-none md:rounded-s-lg" src="node.png" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Node.js</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A JavaScript runtime built on Chrome's V8 engine that allows developers to execute JavaScript on the server side. It enables building scalable network applications, leveraging an event-driven, non-blocking I/O model for high performance.</p>
            </div>
        </a>

        <a class="animate-flip-up animate-delay-[1700ms] flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-48 md:h-auto md:w-32 md:rounded-none md:rounded-s-lg" src="websocket.png" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Websocket</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A communication protocol that enables full-duplex, bidirectional communication channels over a single TCP connection. It allows real-time data exchange between a client and server, making it ideal for applications like chat apps, live notifications, and online gaming, where low latency and immediate interaction are crucial. WebSockets maintain an open connection, reducing the overhead of traditional HTTP requests.</p>
            </div>
        </a>

        <a class="animate-flip-up animate-delay-[1900ms] flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-48 md:h-auto md:w-32 md:rounded-none md:rounded-s-lg" src="tailwindcss.png" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">TailwindCSS</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A utility-first CSS framework that allows developers to build custom designs directly in their markup. It provides a set of pre-defined classes for styling elements, promoting a faster and more consistent design process without leaving the HTML.</p>
            </div>
        </a>
        
    </div>
</div>
